<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Music Heaven | Add new product</title>
        <link rel="stylesheet" href="/css/tailwind.css" />
        <script src="/js/flowbite.js"></script>
        <link rel="icon" type="image/svg+xml" href="svg/favicon.svg" />
    </head>
    <body>
        <%- include('header'); %>
        <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 add-product">
            <h3 class="max-w-sm mx-auto pb-6 text-lg font-semibold text-gray-900 dark:text-white">
                Add new product
            </h3>
            <form method="POST" action="/newProduct" class="max-w-sm mx-auto px-4 lg:px-0 pb-6">
                <div class="mb-5">
                    <label
                        for="product"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Product</label
                    >
                    <input
                        type="text"
                        id="product"
                        name="product"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                        placeholder="Product name"
                        required
                    />
                </div>
                <div class="mb-5">
                    <label
                        for="brand"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Brand</label
                    >

                    <div class="flex space-x-2">
                        <select
                            id="brand"
                            name="brand"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                        >
                            <option value="">Select brand</option>
                            <% if(brand) brand.forEach(b => { %>

                            <option value="<%=b.brand%>"><%=b.brand%></option>

                            <% }) %>
                        </select>

                        <input
                            type="text"
                            name="new_brand"
                            id="new_brand"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                            placeholder="Add new brand"
                        />
                    </div>
                </div>
                <div class="mb-5">
                    <label
                        for="category"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Category</label
                    >

                    <div class="flex space-x-2">
                        <select
                            id="category"
                            name="category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                        >
                            <option value="">Select category</option>
                            <% if(category) category.forEach(c => { %>

                            <option value="<%=c.category%>"><%=c.category%></option>

                            <% }) %>
                        </select>

                        <input
                            type="text"
                            id="new_category"
                            name="new_category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                            placeholder="Add new category"
                        />
                    </div>
                </div>

                <div class="mb-5">
                    <label
                        for="stock"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Stock</label
                    >
                    <input
                        value="0"
                        type="number"
                        id="stock"
                        name="stock"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                        required
                    />
                </div>
                <div class="mb-5">
                    <label
                        for="price"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Price</label
                    >
                    <input
                        type="number"
                        value="0"
                        id="price"
                        step="0.01"
                        name="price"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                        required
                    />
                </div>
                <div class="flex flex-col sm:flex-row gap-4">
                    <button
                        onclick="location.href='/'"
                        class="text-gray-900 bg-gray-300 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
                    >
                        Cancel
                    </button>
                    <button
                        type="submit"
                        class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800"
                    >
                        Submit
                    </button>
                </div>
            </form>
            <% if (locals.err) {%>
            <div>
                <ul class="list-disc max-w-sm mx-auto px-4 lg:px-0">
                    <% err.forEach((error) => { %>
                    <li><%= error.msg %></li>
                    <% }); %>
                </ul>
            </div>
            <% } %>
        </section>
    </body>
</html>
